<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">

      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <p class="card-title">Plywoods Board, For Furniture, 8x4</p>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <button  style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <p class="card-title">Plywoods Board, For Furniture, 8x4</p>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <button  style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <p class="card-title">Plywoods Board, For Furniture, 8x4</p>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <button  style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</button>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 15rem;height: 26rem;">
            <div class="d-flex justify-content-center mt-1" ><img class="card-img-top image"  src="products/plywoods.jpg" alt="Card image cap"></div>
            <div class="card-body text-center">
              <h5 class="card-title">Plywoods Board, For Furniture, 8x4</h5>
              <p class="card-text">Rs 49 / sq ft</p>
              <p class="text-muted">By: Vikaraa Wood Products</p>
              <a href="#" class="btn" style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</a>
            </div>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</div>