<!-- <app-signuppage></app-signuppage> -->
<!-- <app-withregistration></app-withregistration> -->
<!-- <app-addgst></app-addgst> -->
<!-- <app-sellerbody></app-sellerbody> -->
  <router-outlet></router-outlet>
   <!-- <app-leadmanager></app-leadmanager> -->
    <!-- <app-buyermessage></app-buyermessage> -->
    <!-- <app-productdetails></app-productdetails> -->
  <app-footercomponent></app-footercomponent>

  <!-- <app-frontpage></app-frontpage> -->
<!--  

<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
  <div class="container-fluid">
    <img src="bgremovelogo.png">
    
       <div class="searchbox">
       
        <div class="dropdown" >
          <button (click)="toggleDropdown()" class="btn btn-secondary dropdown-toggle" 
          type="button" id="dropdownMenuButton">
    All India
  </button>
  
  
  <div *ngIf="showTextbox" class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
   
    <form [formGroup] = "frm" (ngSubmit) = "onPost()" placeholder="Enter text here">
     
      <ng-select class="w-20" formControlName="cities">
          <ng-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</ng-option>
      </ng-select>
      
      
          </form>
          <div *ngIf="isSubmitted" class="message">
              {{frm.value | json}}
          </div>
  </div>
        </div>
      
        <div class="textbtn">
          <input #searchbtn type="text" placeholder="enter product/service to search"/>
        </div>

        <div class="searchbtn1">
          <i class="bi bi-search" (click)="searchProducts(searchbtn.value)"></i>
        </div>
        
       </div>

       <div class="getBestPrice">
        <button id="getBestPrice1">Get Best Price</button>
       </div>
       
       <div class="rightthings">
        <button id="selllertool">Seller Tools</button>
        <button id="selllertool">Messages</button>
        <button id="selllertool">Shopping</button>
        <button id="selllertool">Hi user</button>
        <button id="selllertool">Help</button>
       </div>
      </div>
    </nav>   -->
   
 <!-- <app-body></app-body>  -->


  <!-- <div class="container">  
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card" style="width: 15rem; height: 26rem;">
        <div class="d-flex justify-content-center mt-1">
          <img class="card-img-top image" [src]="product.file"  alt="{{ product.productName }}">
        </div>
        <div class="card-body text-center">
          <p class="card-title">{{ product.productName }}</p>
          <p class="card-text">Rs {{ product.price }}</p>
          <p class="text-muted">{{ product.productdescription }}</p>
          <button style="background-color: #068076; color: white; font-weight: bold;">Get Best Price</button>
        </div>
      </div>
    </div>
  </div>
</div> 
 
  <ng-template #noResults> 
 <p>No products found.</p>
</ng-template>   -->

     
