<div class="container-md">
<div class="row">
    <div class="col" (mousehover)="openDropdown()" (mouseleave)="closeDropdown()">
        <p>Building & <br>construction</p>
    </div>

    

    <div class="col">
        <p>Electronics & <br>Electrical</p>
    </div>
    <div class="col">
        <p>Drugs & <br>pharma</p>
    </div>
    <div class="col">
        <p>Industrial<br>Machinery</p>
    </div>
    <div class="col">
        <p>Industrial <br>construction</p>
    </div>
    <div class="col">
        <p>Industrial <br>Supplies</p>
    </div>
    <div class="col">
        <p>Food & <br>Agriculture</p>
    </div>
    <div class="col">
        <p>View All <br>Categories</p>
    </div>
</div>


</div>



