<div class="footer">
  <div class="footer-content">
    <h3>We are here to help you!</h3>
    <div class="footer-links">
      <div class="column">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Join Sales</a></li>
          <li><a href="#">Success Stories</a></li>
          <li><a href="#">Press Section</a></li>
          <li><a href="#">Advertise with Us</a></li>
          <li><a href="#">Jobs & Careers</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Complaints</a></li>
          <li><a href="#">Customer Care</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Suppliers Tool Kit</h4>
        <ul>
          <li><a href="#">Sell on trademsme</a></li>
          <li><a href="#">Latest BuyLead</a></li>
          <li><a href="#">Learning Centre</a></li>
          <li><a href="#">Ship With trademsme</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Buyers Tool Kit</h4>
        <ul>
          <li><a href="#">Post Your Requirement</a></li>
          <li><a href="#">Products You Buy</a></li>
          <li><a href="#">Search Products & Suppliers</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Accounting Solutions</h4>
        <ul>
          <li><a href="#">Accounting Software</a></li>
          <li><a href="#">Tally on Mobile</a></li>
          <li><a href="#">GST e-Invoice</a></li>
        </ul>
      </div>
    </div>

    <!-- Social Media & Mobile App Section -->
    <div class="social-media">
      <div>
        <span>Go Mobile:</span>
        <i class="fab fa-apple"></i>
        <i class="fab fa-android"></i>
        <i class="fab fa-windows"></i>
      </div>
      <div>
        <span>Follow us on:</span>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
     
      <div>
        <a href="#">Terms of Use</a> - 
        <a href="#">Privacy Policy</a> - 
        <a href="#">Link to Us</a>
      </div>
    </div>
  </div>
</div>
