<nav class="navbar">
    <div class="logo">
      <img src="bgremovelogo.png" alt="Logo" />
    </div>
    <div class="search-container">
      <select>
        <option>Buy Leads</option>
        <!-- Add more options here -->
      </select>
      <input type="text" placeholder="Enter product / service to search" />
      <button class="search-btn">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="actions">
      <button>Buy With trademsme</button>
     
      <a >Lead Manager</a>
      <a>BuyLeads</a>
      <a >Products</a>
      <a> Hi seller</a>
     
    </div>
  </nav>